<!doctype html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
	<head>
		<title th:text="#{index.title}">Dashboard</title>
		<link rel="stylesheet" th:href="@{/css/pages/dashboard.css}" />
	</head>
		<div layout:fragment="header-title">
			<span th:text="#{index.title}">Dashboard</span>
		</div>

		<div layout:fragment="content" class="dashboard-page">
			<!-- Summary Metrics Row -->
			<div id="summary-container" class="row mb-4">
				<!-- Dynamically Rendered via index.js -->
			</div>

			<div class="row">
				<div class="col-12">
					<!-- Smart Scenes Row -->
					<div class="card shadow-sm border-1 mb-4 rounded-2">
						<div class="card-body p-3">
							<div id="scenes-container" class="d-flex flex-wrap gap-3">
								<!-- Dynamically Rendered via index.js -->
							</div>
						</div>
					</div>

					<!-- Floors & Rooms -->
					<div id="floors-container"></div>
				</div>
			</div>
		</div>

		<th:block layout:fragment="scripts">
			<script th:inline="javascript">
				window.__DASHBOARD_CONFIG__ = {
					data: {
						floors: /*[[${floors}]]*/ [],
						floorRoomMap: /*[[${floorRoomMap}]]*/ {},
						roomInfoMap: /*[[${roomInfoMap}]]*/ {},
						totalFloors: /*[[${totalFloors}]]*/ 0,
						totalRooms: /*[[${totalRooms}]]*/ 0,
						totalHardwares: /*[[${totalHardwares}]]*/ 0
					},
					i18n: {
						summaryFloors: /*[[#{index.summary.floors}]]*/ 'Total Floors',
						summaryRooms: /*[[#{index.summary.rooms}]]*/ 'Total Rooms',
						summaryHardwares: /*[[#{index.summary.hardwares}]]*/ 'Total Devices',
						scenesInHome: /*[[#{index.scenes.in_home}]]*/ 'In Home',
						scenesOutHome: /*[[#{index.scenes.out_home}]]*/ 'Out Home',
						scenesSleep: /*[[#{index.scenes.sleep}]]*/ 'Sleep',
						scenesMorning: /*[[#{index.scenes.morning}]]*/ 'Morning',
						floorLevel: /*[[#{index.floor.level}]]*/ 'Level',
						roomNoRooms: /*[[#{index.room.no_rooms}]]*/ 'No rooms',
						roomDevices: /*[[#{index.room.devices}]]*/ 'DEVICES',
						roomTemp: /*[[#{index.room.temp}]]*/ 'TEMP',
						roomPower: /*[[#{index.room.power}]]*/ 'POWER',
						sceneTriggerTitle: /*[[#{index.scene.trigger.title}]]*/ 'Activate {0}?',
						sceneTriggerText: /*[[#{index.scene.trigger.text}]]*/ 'Are you sure you want to activate the "{0}" scene?',
						sceneTriggerConfirm: /*[[#{index.scene.trigger.confirm}]]*/ 'Confirm',
						sceneTriggerCancel: /*[[#{index.scene.trigger.cancel}]]*/ 'Cancel',
						sceneTriggerSuccessTitle: /*[[#{index.scene.trigger.success_title}]]*/ 'Success!',
						sceneTriggerSuccessText: /*[[#{index.scene.trigger.success_text}]]*/ 'Scene "{0}" has been activated.'
					}
				};
			</script>
			<script type="module" th:src="@{/js/pages/index.js}"></script>
		</th:block>
</html>
