<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="SmartRoomLoggerConfig" packages="">

  <Properties>
    <Property name="LOG_PATH">${sys:catalina.base}/logs</Property>
    
    <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p [%X{traceId}] [%X{scenarioId}] [%c{1}]:%L - %msg%n</Property>
    
    <Property name="MAX_FILE_SIZE">1MB</Property>
    <Property name="MAX_ROLLOVER">10</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${LOG_PATTERN}" />
    </Console>

    <RollingFile name="File" 
                 fileName="${LOG_PATH}/application.log"
                 filePattern="${LOG_PATH}/application-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="${LOG_PATTERN}" />
      <Policies>
        <SizeBasedTriggeringPolicy size="${MAX_FILE_SIZE}" />
      </Policies>
      <DefaultRolloverStrategy max="${MAX_ROLLOVER}" />
    </RollingFile>

    <RollingFile name="SqlFile" 
                 fileName="${LOG_PATH}/application-sql.log"
                 filePattern="${LOG_PATH}/application-sql-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="${LOG_PATTERN}" />
      <Policies>
        <SizeBasedTriggeringPolicy size="${MAX_FILE_SIZE}" />
      </Policies>
      <DefaultRolloverStrategy max="${MAX_ROLLOVER}" />
    </RollingFile>

    <RollingFile name="TraceFile" 
                 fileName="${LOG_PATH}/application-trace.log"
                 filePattern="${LOG_PATH}/application-trace-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="%msg%n" />
      <Policies>
        <SizeBasedTriggeringPolicy size="${MAX_FILE_SIZE}" />
      </Policies>
      <DefaultRolloverStrategy max="${MAX_ROLLOVER}" />
    </RollingFile>

    <Async name="AsyncTraceFile" blocking="false">
      <AppenderRef ref="TraceFile" />
    </Async>

    <RollingFile name="ErrorFile"
                 fileName="${LOG_PATH}/application-error.log"
                 filePattern="${LOG_PATH}/application-error-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="${LOG_PATTERN}" />
      <Policies>
        <SizeBasedTriggeringPolicy size="${MAX_FILE_SIZE}" />
      </Policies>
      <DefaultRolloverStrategy max="${MAX_ROLLOVER}" />
    </RollingFile>
  </Appenders>

  <Loggers>
    <!-- Root Logger: Cấu hình log ra catalina.out. Recommend: prod - ERROR, dev - INFO -->
    <Root level="${sys:ROOT_LOG_LEVEL:-info}">
      <AppenderRef ref="Console" />
    </Root>

    <!-- App Logger: Cấu hình log của server app chính. Recommend: prod - ERROR, dev - INFO/DEBUG -->
    <Logger name="com.iviet.ivshs"
            level="${sys:APP_LOG_LEVEL:-debug}"
            additivity="false">
      <AppenderRef ref="Console" />
      <AppenderRef ref="File" />
      <AppenderRef ref="ErrorFile">
        <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
      </AppenderRef>
    </Logger>

    <!-- APM Logger: Cấu hình ghi trace. Recommend: prod - OFF, dev - TRACE -->
    <Logger name="com.iviet.ivshs.shared.logging.trace"
            level="${sys:APM_LOG_LEVEL:-trace}"
            additivity="false">
      <AppenderRef ref="AsyncTraceFile">
        <LevelRangeFilter minLevel="trace" maxLevel="trace" onMatch="ACCEPT" onMismatch="DENY" />
      </AppenderRef>
    </Logger>

    <!-- Database Logger (SQL queries): Cấu hình log của database. Recommend: prod - OFF, dev - INFO -->
    <Logger name="org.hibernate.SQL" 
            level="${sys:SQL_LOG_LEVEL:-off}" 
            additivity="false">
      <AppenderRef ref="Console" />
      <AppenderRef ref="SqlFile" />
    </Logger>

    <!-- Database Logger (SQL bind parameters): Cấu hình log dữ liệu ràng buộc SQL. Recommend: prod - OFF, dev - INFO -->
    <Logger name="org.hibernate.orm.jdbc.bind" 
            level="${sys:SQL_BIND_LEVEL:-off}" 
            additivity="false">
      <AppenderRef ref="Console" />
      <AppenderRef ref="SqlFile" />
    </Logger>

    <!-- Hibernate statistics logger -->
    <Logger name="org.hibernate.stat" 
            level="info" 
            additivity="false">
      <AppenderRef ref="Console" />
      <AppenderRef ref="SqlFile" />
    </Logger>

    <!-- HTTP Logger: Cấu hình log của http requests. Recommend: prod - OFF, dev - INFO -->
    <Logger name="org.apache.hc.client5.http" 
            level="${sys:HTTP_LOG_LEVEL:-off}" 
            additivity="false">
      <AppenderRef ref="Console" />
      <AppenderRef ref="File" />
    </Logger>

    <Logger name="org.apache.hc.client5.http.headers" 
            level="${sys:HTTP_LOG_LEVEL:-off}" 
            additivity="false">
      <AppenderRef ref="Console" />
      <AppenderRef ref="File" />
    </Logger>

    <Logger name="org.apache.hc.client5.http.wire" 
            level="${sys:HTTP_LOG_LEVEL:-off}" 
            additivity="false">
      <AppenderRef ref="Console" />
      <AppenderRef ref="File" />
    </Logger>
  </Loggers>

</Configuration>