<!DOCTYPE html>
<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{main_layout.html}"
>
	<head>
		<title th:text="#{function.management.title}">Manage Functions</title>
		<th:block th:replace="~{fragments/management.html :: css_resources}"></th:block>
	</head>
	<body>
		<th:block layout:fragment="header">
			<th:block th:replace="~{fragments/management.html :: page_header(#{function.management.title})}"></th:block>
		</th:block>

		<section class="content" layout:fragment="content">
			<div class="container-fluid">
				<div class="card card-outline card-primary shadow-sm">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-shield-alt mr-1"></i>
							<span th:text="#{function.table.list.title}">Functions List</span>
						</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#createFunctionModal">
								<i class="fas fa-plus mr-1"></i> <span th:text="#{function.management.add.function}">Add Function</span>
							</button>
						</div>
					</div>
					<div class="card-body">
						<table id="functionsTable" class="table table-bordered table-striped table-hover w-100">
							<thead class="thead-light">
								<tr>
									<th style="width: 50px" th:text="#{function.table.id}">ID</th>
									<th style="width: 25%" th:text="#{function.table.code}">Code</th>
									<th style="width: 20%" th:text="#{function.table.name}">Name</th>
									<th th:text="#{function.table.description}">Description</th>
									<th style="width: 120px" class="text-center" th:text="#{function.table.actions}">Actions</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>

				<div class="modal fade" id="createFunctionModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<th:block th:replace="~{fragments/management.html :: modal_header(#{function.modal.create.title}, 'bg-success', 'fas fa-plus-circle')}"></th:block>
							<div class="modal-body modal-body-scrollable">
								<form id="createFunctionForm">
									<div class="code-builder-area">
										<label class="text-primary small font-weight-bold text-uppercase mb-2" th:text="#{function.modal.code.generator}">Code Generator</label>
										<div class="form-row">
											<div class="col-md-5">
												<select class="form-control form-control-sm" id="builderType">
													<option value="MANAGE">F_MANAGE_</option>
													<option value="ACCESS_FLOOR">F_ACCESS_FLOOR_</option>
													<option value="ACCESS_ROOM">F_ACCESS_ROOM_</option>
												</select>
												<small class="text-muted" th:text="#{function.modal.type.prefix}">Type Prefix</small>
											</div>
											<div class="col-md-7">
												<div class="input-group input-group-sm">
													<input type="text" class="form-control" id="builderScope" placeholder="ALL, CLIENT..." style="text-transform: uppercase" />
													<div class="input-group-append">
														<button
															class="btn btn-outline-secondary dropdown-toggle"
															type="button"
															data-toggle="dropdown"
															th:text="#{function.modal.pick}"
														>
															Pick
														</button>
														<div class="dropdown-menu dropdown-menu-right">
															<a class="dropdown-item builder-suggestion" href="#">ALL</a>
															<div role="separator" class="dropdown-divider"></div>
															<a class="dropdown-item builder-suggestion" href="#">CLIENT</a>
															<a class="dropdown-item builder-suggestion" href="#">DEVICE</a>
															<a class="dropdown-item builder-suggestion" href="#">GROUP</a>
															<a class="dropdown-item builder-suggestion" href="#">USER</a>
														</div>
													</div>
												</div>
												<small class="text-muted" th:text="#{function.modal.scope.hint}">Scope / Code (e.g. H101)</small>
											</div>
										</div>
									</div>

									<div class="form-group">
										<label for="createFunctionCode"> <span th:text="#{function.modal.code}">Function Code</span> <span class="text-danger">*</span></label>
										<input
											type="text"
											class="form-control font-weight-bold"
											id="createFunctionCode"
											required
											minlength="5"
											maxlength="100"
											placeholder="Generated code will appear here..."
											style="text-transform: uppercase"
										/>
										<small class="form-text text-muted" th:utext="#{function.modal.code.hint}"
											>Must start with <code>F_</code>. Format: <code>F_{TYPE}_{SCOPE}</code></small
										>
									</div>

									<div class="form-group">
										<label for="createName"> <span th:text="#{function.modal.name}">Name</span> <span class="text-danger">*</span></label>
										<input type="text" class="form-control" id="createName" required minlength="1" maxlength="100" placeholder="e.g. Quản lý thiết bị" />
									</div>
									<div class="form-group">
										<label for="createDescription" th:text="#{function.modal.description}">Description</label>
										<textarea class="form-control" id="createDescription" rows="2" maxlength="255" placeholder="Description..."></textarea>
									</div>
									<div class="form-group">
										<label for="createLangCode" th:text="#{function.modal.language}">Language</label>
										<select class="form-control" id="createLangCode">
											<option value="vi" th:text="#{group.modal.lang.vi}">Vietnamese (vi)</option>
											<option value="en" th:text="#{group.modal.lang.en}">English (en)</option>
										</select>
									</div>
								</form>
							</div>
							<th:block th:replace="~{fragments/management.html :: modal_footer('btnSaveCreate', #{group.modal.create.btn}, 'btn-success')}"></th:block>
						</div>
					</div>
				</div>

				<div class="modal fade" id="editFunctionModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<th:block th:replace="~{fragments/management.html :: modal_header(#{function.modal.edit.title}, 'bg-primary', 'fas fa-edit')}"></th:block>
							<div class="modal-body modal-body-scrollable">
								<form id="editFunctionForm">
									<input type="hidden" id="editFunctionId" />
									<div class="form-group">
										<label th:text="#{function.modal.code}">Function Code</label>
										<input type="text" class="form-control" id="editFunctionCode" disabled />
									</div>
									<div class="form-group">
										<label for="editName"> <span th:text="#{function.modal.name}">Name</span> <span class="text-danger">*</span></label>
										<input type="text" class="form-control" id="editName" required minlength="1" maxlength="100" />
									</div>
									<div class="form-group">
										<label for="editDescription" th:text="#{function.modal.description}">Description</label>
										<textarea class="form-control" id="editDescription" rows="2" maxlength="255"></textarea>
									</div>
									<div class="form-group">
										<label for="editLangCode" th:text="#{function.modal.language}">Language</label>
										<select class="form-control" id="editLangCode">
											<option value="vi" th:text="#{group.modal.lang.vi}">Vietnamese (vi)</option>
											<option value="en" th:text="#{group.modal.lang.en}">English (en)</option>
										</select>
									</div>
								</form>
							</div>
							<th:block th:replace="~{fragments/management.html :: modal_footer('btnSaveEdit', #{group.modal.save.btn}, 'btn-primary')}"></th:block>
						</div>
					</div>
				</div>
			</div>
		</section>

		<th:block layout:fragment="optional">
			<script th:src="@{/scripts/service/api/v1/function_api_v1.js}"></script>
			<th:block th:replace="~{fragments/management.html :: data_table_scripts(@{/scripts/pages/function_management.js})}"></th:block>
			<script defer th:inline="javascript">
				/*<![CDATA[*/
				$(document).ready(function () {
					const contextPath = /*[[@{/}]]*/ '/';
					FunctionManager.init(contextPath);
				});
				/*]]>*/
			</script>
		</th:block>
	</body>
</html>
