<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{main_layout.html}">
	<head>
		<title th:text="#{group.management.title}">Manage Groups</title>
		<th:block th:replace="~{fragments/management.html :: css_resources}"></th:block>
	</head>
	<body>
		<th:block layout:fragment="header">
			<th:block th:replace="~{fragments/management.html :: page_header(#{group.management.title})}"></th:block>
		</th:block>

		<section class="content" layout:fragment="content">
			<div class="container-fluid">
				<div class="card card-outline card-primary shadow-sm">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-users-cog mr-1"></i>
							<span th:text="#{group.table.list.title}">Group List</span>
						</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#createGroupModal">
								<i class="fas fa-plus mr-1"></i>
								<span th:text="#{group.management.add}">Add Group</span>
							</button>
						</div>
					</div>
					<div class="card-body">
						<table id="groupsTable" class="table table-bordered table-striped table-hover w-100">
							<thead class="thead-light">
								<tr>
									<th style="width: 50px" th:text="#{group.table.id}">ID</th>
									<th style="width: 15%" th:text="#{group.table.code}">Code</th>
									<th style="width: 20%" th:text="#{group.table.name}">Name</th>
									<th th:text="#{group.table.description}">Description</th>
									<th style="width: 100px" class="text-center">Members</th>
									<th style="width: 140px" class="text-center" th:text="#{group.table.actions}">Actions</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>

				<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<th:block th:replace="~{fragments/management.html :: modal_header(#{group.modal.create.title}, 'bg-success', 'fas fa-plus-circle')}"></th:block>
							<div class="modal-body modal-body-scrollable">
								<form id="createGroupForm">
									<div class="form-group">
										<label for="createGroupCode">
											<span th:text="#{group.modal.code}">Group Code</span>
											<span class="text-danger">*</span>
										</label>
										<input type="text" class="form-control" id="createGroupCode" required style="text-transform: uppercase" />
										<small class="form-text text-muted" th:text="#{group.modal.code.hint}">Unique identifier, cannot be changed.</small>
									</div>
									<div class="form-group">
										<label for="createName">
											<span th:text="#{group.modal.name}">Name</span>
											<span class="text-danger">*</span>
										</label>
										<input type="text" class="form-control" id="createName" required minlength="1" maxlength="100" />
									</div>
									<div class="form-group">
										<label for="createDescription" th:text="#{group.modal.description}">Description</label>
										<textarea class="form-control" id="createDescription" rows="2" maxlength="255"></textarea>
									</div>
									<div class="form-group">
										<label for="createLangCode" th:text="#{group.modal.language}">Language</label>
										<select class="form-control" id="createLangCode">
											<option value="vi" th:text="#{group.modal.lang.vi}">Vietnamese (vi)</option>
											<option value="en" th:text="#{group.modal.lang.en}">English (en)</option>
										</select>
									</div>
								</form>
							</div>
							<th:block th:replace="~{fragments/management.html :: modal_footer('btnSaveCreate', #{group.modal.create.btn}, 'btn-success')}"></th:block>
						</div>
					</div>
				</div>

				<div class="modal fade" id="editGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<th:block th:replace="~{fragments/management.html :: modal_header(#{group.modal.edit.title}, 'bg-primary', 'fas fa-edit')}"></th:block>
							<div class="modal-body modal-body-scrollable">
								<form id="editGroupForm">
									<input type="hidden" id="editGroupId" />
									<div class="form-group">
										<label th:text="#{group.modal.code}">Group Code</label>
										<input type="text" class="form-control" id="editGroupCode" disabled />
									</div>
									<div class="form-group">
										<label for="editName">
											<span th:text="#{group.modal.name}">Name</span>
											<span class="text-danger">*</span>
										</label>
										<input type="text" class="form-control" id="editName" required minlength="1" maxlength="100" />
									</div>
									<div class="form-group">
										<label for="editDescription" th:text="#{group.modal.description}">Description</label>
										<textarea class="form-control" id="editDescription" rows="2" maxlength="255"></textarea>
									</div>
									<div class="form-group">
										<label for="editLangCode" th:text="#{group.modal.language}">Language</label>
										<select class="form-control" id="editLangCode">
											<option value="vi" th:text="#{group.modal.lang.vi}">Vietnamese (vi)</option>
											<option value="en" th:text="#{group.modal.lang.en}">English (en)</option>
										</select>
									</div>
								</form>
							</div>
							<th:block th:replace="~{fragments/management.html :: modal_footer('btnSaveEdit', #{group.modal.save.btn}, 'btn-primary')}"></th:block>
						</div>
					</div>
				</div>

				<div class="modal fade" id="manageClientsModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header bg-info text-white">
								<h5 class="modal-title">
									<i class="fas fa-users mr-2"></i>
									<span th:text="#{group.clients.modal.title}">Group Members</span>:
									<span id="clientModalGroupName" class="font-weight-bold ml-1"></span>
								</h5>
								<button type="button" class="close text-white" data-dismiss="modal"><span>&times;</span></button>
							</div>
							<div class="modal-body modal-body-scrollable">
								<input type="hidden" id="clientGroupId" />
								<div class="alert alert-light border">
									<i class="fas fa-info-circle mr-2 text-info"></i>
									<span th:text="#{group.clients.modal.info}">List of clients currently assigned to this group.</span>
								</div>

								<div id="clientsLoader" class="text-center py-3 d-none">
									<div class="spinner-border text-info" role="status"></div>
								</div>

								<table id="groupClientsTable" class="table table-sm table-hover table-bordered w-100">
									<thead class="thead-light">
										<tr>
											<th>Username</th>
											<th>Type</th>
											<th>IP Address</th>
											<th class="text-center" style="width: 80px">Remove</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{common.btn.close}">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<th:block layout:fragment="optional">
			<th:block th:replace="~{fragments/management.html :: data_table_scripts(@{/scripts/pages/group_management.js})}"></th:block>
			<script defer th:inline="javascript">
				/*<![CDATA[*/
				$(document).ready(function () {
					const contextPath = /*[[@{/}]]*/ '/';
					GroupManager.init(contextPath);
				});
				/*]]>*/
			</script>
		</th:block>
	</body>
</html>
