@font-face {
	font-family: 'Rethink Sans';
	src: url('/fonts/rethink-sans/RethinkSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rethink Sans';
	src: url('/fonts/rethink-sans/RethinkSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
