<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
	<body>
		<div th:fragment="temp_card(currentTemp)" class="card card-danger card-outline shadow-sm">
			<div class="card-header border-0">
				<h3 class="card-title"><i class="fas fa-thermometer-half mr-1"></i> Temperature</h3>
				<div class="card-tools">
					<span class="badge badge-danger" th:text="'Current Avg Temp: ' + ${#numbers.formatDecimal(currentTemp, 1, 1)} + '°C'">--</span>
				</div>
			</div>
			<div class="card-body">
				<div class="chart" style="min-height: 250px; height: 250px; position: relative">
					<canvas id="tempChart"></canvas>
				</div>
			</div>
			<div class="overlay" id="tempChartLoading" style="display: none">
				<i class="fas fa-2x fa-sync-alt fa-spin"></i>
			</div>
		</div>

		<div th:fragment="power_card(currentPower)" class="card card-warning card-outline shadow-sm">
			<div class="card-header border-0">
				<h3 class="card-title"><i class="fas fa-bolt mr-1"></i> Power Usage</h3>
				<div class="card-tools">
					<span class="badge badge-warning" th:text="'Current Sum Watt: ' + ${#numbers.formatDecimal(currentPower, 1, 1)} + ' Wh'">--</span>
				</div>
			</div>
			<div class="card-body">
				<div class="chart" style="min-height: 250px; height: 250px; position: relative">
					<canvas id="powerChart"></canvas>
				</div>
			</div>
			<div class="overlay" id="powerChartLoading" style="display: none">
				<i class="fas fa-2x fa-sync-alt fa-spin"></i>
			</div>
		</div>
	</body>
</html>
