<!DOCTYPE html>
<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<th:block th:replace="~{fragments/main_layout/head.html :: head}"></th:block>
		<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">SmartHome IoT</title>
	</head>

	<body class="hold-transition sidebar-mini layout-fixed">
		<div class="wrapper">
			<div th:replace="~{fragments/main_layout/header.html :: header}"></div>

			<div th:replace="~{fragments/main_layout/sidebar.html :: sidebar}"></div>

			<div class="content-wrapper">
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="m-0" th:text="${pageTitle != null ? pageTitle : 'Dashboard'}">Dashboard</h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active" th:text="${pageTitle != null ? pageTitle : 'Dashboard'}">Dashboard</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<section class="content">
					<div class="container-fluid">
						<div layout:fragment="content"></div>
					</div>
				</section>
			</div>

			<div th:replace="~{fragments/main_layout/footer.html :: footer}"></div>
		</div>

		<div th:replace="~{fragments/main_layout/scripts.html :: scripts}"></div>

		<th:block layout:fragment="optional"></th:block>
	</body>
</html>
