<th:block th:fragment="scripts">
	<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/webjars/AdminLTE/3.2.0/dist/js/adminlte.min.js}"></script>
	<script th:src="@{/webjars/chartjs/4.4.3/dist/chart.umd.js}"></script>
	<script th:src="@{/webjars/sweetalert2/11.7.12/dist/sweetalert2.all.min.js}"></script>
	<script th:src="@{/scripts/util/chart.js}"></script>
	<script th:src="@{/scripts/util/notify.js}"></script>
	<script th:src="@{/scripts/util/http_client.js}"></script>
</th:block>
