<th:block th:fragment="scripts">
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/webjars/AdminLTE/dist/js/adminlte.min.js}"></script>
	<script th:src="@{/webjars/chartjs/dist/chart.umd.js}"></script>
	<script th:src="@{/webjars/sweetalert2/dist/sweetalert2.all.min.js}"></script>

	<script th:src="@{/scripts/util/chart.js}"></script>
	<script th:src="@{/scripts/util/notify.js}"></script>
	<script th:src="@{/scripts/util/cron_util.js}"></script>
	<script th:src="@{/scripts/util/http_client.js}"></script>
</th:block>
